#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	padding-bottom: 200px;
	/*height: 1000px;
	width: 800px;*/
}

.vega-bindings {
	/* make it arrange horizontally on the left make gap in between only 20px */
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}


h2 {
    text-align: center;
    color: #527298;
    font-size: 28px;
}

p {
    color: #527298;
    font-size: 16px;
}

body {
	background-color: #f1ebe5;
	margin: 0; 
	padding: 0; 
}

/* CSS for the banner image */
#banner {
	text-align: center;
	margin-bottom: 20px; /* Add spacing between the banner and the rest of the content */
  }
  
  #banner img {
	max-width: 80%; /* Make the image responsive */
	height: auto;
  }

