#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	padding-bottom: 200px;
	/*height: 1000px;
	width: 800px;*/
}

.vega-bindings {
	/* make it arrange horizontally on the left make gap in between only 20px */
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.top-section {
    background-color: #d6d0c4; /* Slightly darker background */
    padding: 40px;
    text-align: center;
}

.top-section h1 {
    text-align: center;
    color: #527298; 
    font-size: 40px;
	font-weight: bold;
}

.top-section p {
    font-size: 16px;
    color: #527298;
    margin: 20px 0 0;
}

.author-box {
    margin-top: 20px;
    background-color: #e6e0d5;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #527298;
    font-size: 16px;
    color: #333;
}

body {
	background-color: #f1ebe5;
	margin: 0; 
	padding: 0; 
	font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

/* Subtitle Styles */
h2 {
    text-align: center;
    color: #527298;
    font-size: 28px;
}

/* Paragraph Styles */
p {
    color: #527298;
    font-size: 16px;
}

